@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

.slick-slide {
    display: block;
}

.img_1 {
    margin: 0px auto;
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.slider-container1 {
    position: absolute;
    display: flex;
    padding-left: calc(8%);
    padding-top: 250px;
    flex-flow: column nowrap;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 400;
    z-index: 2;
    object-position: 30px 50px;
}

.slider-container2 {
    position: absolute;
    display: flex;
    padding-left: calc(8%);
    padding-top: 320px;
    flex-flow: column nowrap;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 400;
    z-index: 2;
}

.slider-container3 {
    position: absolute;
    display: flex;
    padding-left: calc(8%);
    padding-top: 550px;
    flex-flow: column nowrap;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 400;
    z-index: 2;
}



/* custom-slick.css */

/* 기본 slick 화살표 스타일 오버라이드 */
.slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    z-index: 1;
    top: auto; /* 기존 top 위치 무효화 */
    bottom: 20px; /* 진행 바 아래로 이동 */
    position: absolute;
    background-size: contain; /* 이미지 크기 조정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    display: none;
}

.slick-prev {
    left: 10%; /* 왼쪽에 위치 */
    background-image: url(../image/left.png) !important;
}

.slick-next {
    left: 20%; /* 왼쪽에 위치 */
    background-image: url(../image/right.png) !important;
}

@media (max-width: 425px) {
    .slick-next {
        left: 30%;
    }
    .slick-next:hover {
        left: 30%; /* 왼쪽에 위치 */
    }
    .slick-next:focus {
        left: 30%; /* 왼쪽에 위치 */
    }
    .slick-next::before {
        left: 30%;
    }
}

.slick-prev:hover, .slick-next:hover {
    width: 50px;
    height: 50px;
    z-index: 1;
    top: auto; /* 기존 top 위치 무효화 */
    bottom: 20px; /* 진행 바 아래로 이동 */
    position: absolute;
    background-size: contain; /* 이미지 크기 조정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    display: none;
}

.slick-prev:hover {
    left: 10%; /* 왼쪽에 위치 */
    background-image: url(../image/left.png) !important;
}

.slick-next:hover {
    left: 20%; /* 왼쪽에 위치 */
    background-image: url(../image/right.png) !important;
}

.slick-prev:focus, .slick-next:focus {
    width: 50px;
    height: 50px;
    z-index: 1;
    top: auto; /* 기존 top 위치 무효화 */
    bottom: 20px; /* 진행 바 아래로 이동 */
    position: absolute;
    background-size: contain; /* 이미지 크기 조정 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    display: none;
}

.slick-prev:focus {
    left: 10%; /* 왼쪽에 위치 */
    background-image: url(../image/left.png) !important;
}

.slick-next:focus {
    left: 20%; /* 왼쪽에 위치 */
    background-image: url(../image/right.png) !important;
}

.slick-prev::before, .slick-next::before {
    display: none;
}
