/* Home.module.css */

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;
  height: 100vh; /* Set the height to fill the entire viewport */
}

.homeLinks {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.socialLogin {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 20px;
}

/* Style for NaverLoginButton */
.NaverLoginButton {
  margin-right: 10px; /* Adjust margin between buttons */
}

/* Style for KakaoLoginButton */
.KakaoLoginButton {
  margin-left: 10px; /* Adjust margin between buttons */
}