@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

.slick-slide {
    display: block;
}

img {
    margin: 0px auto;
    object-fit: cover;
    height: 800px;
    width: 100%;
    object-position: calc(70%-0px) -50px;
}

.slider-container {
    position: absolute;
    display: flex;
    padding-left: calc(8%);
    padding-top: 150px;
    flex-flow: column nowrap;
    font-family: "Monomaniac One", sans-serif;
    font-weight: 400;
    z-index: 2;
}

.movie_title {
    display: flex;
    font-size: 84px;
  }

.movie_contents {
    display: flex;
    font-size: 34px;
}