  * {
    margin: 0;
    padding: 0;
  }
  
  .sliderContainer {
    position: relative;
    background-color: black;
    color: white;
  }
  
  .frame {
    position: relative;
    text-align: center;
  }
  
  .image {
    width: 100%;
    height: auto;
  }