.castDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.castList {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.castMember {
  text-align: left;
  width: 185px;
}

.castPhoto {
  width: 185px;
  height: auto;
  border-radius: 10px;
}

.castInfo {
  margin-top: 10px;
}

.castName {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.castRole {
  font-size: 14px;
  color: gray;
  margin: 0;
  line-height: 1.2;
}
